.aboutVideoMain {
    height: 240px;
    width: 380px;
    transform: translate(0px, 0px);
    background: linear-gradient(180deg,
            #23569e 0%,
            rgba(160, 238, 255, 0.99) 100%);
}

.aboutVideo {
    transform: translate(30px, 40px);
}

.HomeAbout {
    color: #23569e;
    font-size: 40px;
    padding: 20px;
}

.HomeAboutSection {
    background: #f4f4f4;
}

.pText {
    text-align: justify;
    font-size: 0.75rem;
}

.pTextAbout {
    font-weight: 600;
}

.HomeAboutBtn {
    background: #23569e;
    float: right;
    width: auto;
    color: white;
    text-align: end;
}

.certificate {
    width: 80%;
}

.certificateSection {
    transform: translate(0px, 0px);
    height: 775px;
    background: linear-gradient(180deg, #ffffff 40%, #e8e8e8 40%);
}

.visionMissionSection {
    background: #ecfdff;
}

.visionText {
    text-align: justify;
    font-weight: 600;
    text-align: justify;
    font-size: 0.75rem;
    color: #525252;
}

.visionHeading {
    text-align: left;
    padding-left: 12rem;
    color: #154891;
}

.missionHeading {
    text-align: right;
    padding-right: 12rem;
    color: #154891;
}

@media only screen and (max-width: 576px) {
    .aboutVideoMain {
        height: 200px;
        width: 320px;
        transform: translate(0px, 0px) !important;
        background: linear-gradient(180deg,
                #23569e 0%,
                rgba(160, 238, 255, 0.99) 100%);
    }

    .missionHeading {
        text-align: center;
        padding-right: 0rem;
        color: #154891;
    }

    .visionHeading {
        text-align: center;
        padding-left: 1rem;
        color: #154891;
    }

    .certificateSection {
        transform: translate(0px, 0px);
        height: max-content;
        background: linear-gradient(180deg, #ffffff 40%, #e8e8e8 40%);
    }

    .certificate {
        width: 100%;
    }
}
@media only screen and (min-width: 718px) and (max-width: 987px){

    .certificateSection {
        transform: translate(0px, 0px);
        height: 550px;
        background: linear-gradient(180deg, #ffffff 40%, #e8e8e8 40%);
    }

}
@media only screen and (min-width: 1367px) and (max-width: 1920px) {
    .HomeAbout1 {
        color: #23569E;
        padding-left: 9.5rem !important;
    }

    .pTextAbout {
        padding-left: 3rem !important;
    }
    .certificateSection {
        transform: translate(0px, 0px);
        height: 900px;
        background: linear-gradient(180deg, #ffffff 40%, #e8e8e8 40%);
    }
}