@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
}

body {
    /* background: #f4f4f4; */
    background: #ffffff;
}

/* ------------------------------------------------------------ */
/* Common CSS */
/* ------------------------------------------------------------ */

.heading {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #23569E;
    font-weight: bold;
}

/* ------------------------------------------------------------ */
/* Header */
/* ------------------------------------------------------------ */
.headerBtn {
    background: #23569E;
    width: 100%;
    text-align: center;
    border-radius: 3px;
}

.mainVideoContainer {
    line-height: 0 !important;
}

.navbar {
    z-index: 1;
}

.navBarBrand {
    display: contents;
}

.nav-item a {
    color: black;
    font-weight: 500;
}

.nav-item a:hover {
    color: #23569E;
    font-weight: 500;
}

.navbarView {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu {
    border: 0;
    border-radius: 0;
    box-shadow: 5px 5px 10px #aeaeae;
}

.navbarLogo {
    width: 50%;
    float: right;
}

.videoBanner {
    width: 100%;
    height: 480px;
    object-fit: cover;
}

.onVideoBanner {
    position: absolute;
    right: 0;
    top: 35%;
}

.onVideoBanner img {
    width: 75%;
}

.videoCard {
    position: relative;
    bottom: 30px;
}

.videoCard_card {
    background: #23569E;
    color: white;
    text-align: center;
}

.bannerCardHeading {
    font-size: 1rem;
}

.navbar-nav .nav-link.active {
    background-color: #23569E; 
    color: #fff; 
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* ------------------------------------------------------------ */
/* Banner */
/* ------------------------------------------------------------ */

/* ------------------------------------------------------------ */
/* Footer */
/* ------------------------------------------------------------ */

.quickLinksFooter p {
    margin-bottom: 0.3rem;
}

.quickLinksFooter p a {
    color: #D8D8D8 !important;
}

.footerLine {
    background: #23569E;
    height: 15px;
}

.footerLineIcon {
    float: right;
}

.sviFooter {
    background: #383838;
}

.footerSocialIcons {
    background: white;
    padding: 11px;
    border-radius: 20px;
    height: 40px;

}

.footerSocialIcons:hover {
    background: #23569E;
    color: white;
}

.footerBack {
    background-image: url("../../../website/assets/images/footerBack.png");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 290px;
    border-radius: 10%;
    width: 65%;
}

.footerBack p {
    line-height: 1.1;
}

.fa-facebook:before {
    padding-left: 3px;
    padding-right: 3px;
    color: #383838;
}

.fa-instagram:before {
    color: #383838;
}

.fa-envelope-o:before {
    color: #383838;
}

.fa-facebook:hover:before {
    color: #ffff;
}

.fa-instagram:hover:before {
    color: #ffff;
}

.fa-envelope-o:hover:before {
    color: #ffff;
}

.contactUsFooter p {
    font-size: 0.8rem;
    color: #E3E3E3 !important;
    background-color: #383838;
}

/*-- Copyright --*/
.copyright {
    position: relative;
    background-color: #23569E;
    padding: 20px 0 20px;
   
  }
  
  .copyright__text {
    color: #fff;
    margin: 0;
    font-size: 18px;
  }
  
  .copyright__text a {
    color: inherit;
  }
  
  /* .copyright__text a:hover {
    color: red;
  } */
.red-text {
    color: red;
}

@media only screen and (max-width: 576px) {
    .bannerCardHeading {
        font-size: 0.6rem;
    }

    .videoCard {
        position: relative;
        bottom: 65px;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
    .videoBanner {
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }

    .onVideoBanner img {
        width: 100%;
    }

    .footerBack {
        background-image: url("../../../website/assets/images/footerBack.png");
        background-repeat: no-repeat;
        background-position: bottom;
        height: 290px;
        border-radius: 10%;
    }
}