.aboutVideoMain {
    height: 240px;
    width: 300px;
    transform: translate(0px, 0px);
    background: linear-gradient(
        180deg,
        #332ba2 0%,
        rgba(160, 238, 255, 0.99) 100%
    );
}
.videoSize {
    height: 260px;
    width: 390px;
    object-fit: cover;
}
.HomeAboutRow {
    height: 315px;
}
.aboutVideo {
    transform: translate(30px, 40px);
}
.HomeAbout {
    color: #224677;
    padding-left: 4.5rem;
}
.HomeAboutSection {
    background: #f4f4f4;
}
.HomeAboutCol1 {
    background: linear-gradient(
        90deg,
        #f4f4f4 0%,
        rgba(255, 255, 255, 0.99) 100%
    );
}
.pText {
    text-align: justify;
    font-size: 0.8rem;
    color: #525252;
}
.HomeAboutButton {
    background: #332ba2;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 16px;
    margin-right: 30px;
}
.cardContent {
    background: #ecfffe;
}
.cardContent p {
    font-weight: 500;
    font-family: "Poppins";
    color: #778088;
    font-size: 16px;
}
.cardBodyCoreComp {
    height: 5rem;
}
.coreCompCards:hover {
    background: #332ba2;
    color: white;
    transform: scale(1.03);
}
.productH1 {
    color: #1e4f9c;
    font-weight: bold;
    padding-left: 1.5rem;
}
.productCard .cardContent {
    text-align: justify;
    font-size: 0.5rem;
    transform: translate(-30px);
    border: 0;
}
.productCard .cardContent .cardContent_text {
    color: #1c2b38;
    text-align: start;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 25px;
    line-height: 1.4;
    font-family: "Poppins";
}
.productImg img {
    width: 65%;
}
.svpilHeading {
    font-size: 2.3rem;
}
/* media query */

@media only screen and (max-width: 576px) {
    .aboutVideoMain {
        height: 200px;
        width: 300px;
        transform: translate(0px, 0px) !important;
        background: linear-gradient(
            180deg,
            #332ba2 0%,
            rgba(160, 238, 255, 0.99) 100%
        );
    }
    .videoSize {
        height: 250px;
        width: 300px;
    }
    .HomeAboutRow {
        height: 300px !important;
    }
    .productCard .cardContent {
        transform: translate(0px);
    }
}
