.mediaCard {
    border-radius: 5%;
    background: #F2FFFD
    ;
}
.mediaVideo {
    height: 450px !important;
    width: 100%;
    object-fit: contain;
}
@media only screen and (max-width: 576px) {
    .mediaVideo {
        height: 210px !important;
    }
    .mediaCard {
        border-radius: 0%;
        background: #F2FFFD
    }
}
