.mediaCard {
    border-radius: 5%;
    background: #F2FFFD
    ;
}

.mediaCard h4{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 40px;
}
.mediaVideo {
    height: 450px !important;
    width: 100%;
    object-fit: contain;
}
@media only screen and (max-width: 576px) {
    .mediaVideo {
        height: 210px !important;
    }
    .mediaCard {
        border-radius: 0%;
        background: #F2FFFD
    }
    .mediaCard h4{
        font-family: sans-serif;
        font-weight: 800;
        font-size: 1.8rem;
        padding-left: 16px;
    }
}
