.main-product {
    background-color: #fff;
}

.main-product .card {
    border: none;
}

.main-product .card .card-body {
    background-color: #23569E;
    /* margin: 0px 42px; */
    color: #fff !important;
    border-radius: 10px;
    box-shadow: 10px 10px 50px #00000012%;
}

.main-product .card .card-title {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    display: flex;
    justify-content: center !important;
    text-align: center;
    font-family: "Volkhov", serif;
    height: 93px;
}

.nav {
    background-color: #23569E !important;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 20px;
    border: none;
}

.nav .nav-link {
    color: #fff !important;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
}

.nav-pills .nav-link.active {
    color: #fff !important;
    font-weight: 700;
    background-color: transparent;
}

.our-product {
    padding: 30px 0px;
    background-color: #fff;
}

.product-name {
  padding-top: 70px;
  padding-bottom: 30px;
    color: #23569E;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-product h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-padding{
  padding-top: 40px;
}

/* =============== */
.article_card_container{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.article_card_container .card-body{
    background-color: #23569E;
    color: #fff;
    border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   font-size: 18px;
   height: 79px;
   text-align: left;
   align-items: start;
   justify-content: left;
   display: -webkit-box;
   text-overflow: ellipsis;
 overflow: hidden;
 -webkit-line-clamp:2;
}

#gallary_data .card{
    border: none !important;
}
.article_tab {
    /* position: relative; */
    border-radius: 0px 50px 0px;
    background: #6246E5;
    padding: 0.5rem;
    width: 100%;
    /* height: 2%; */
    box-sizing: border-box;
    justify-content: space-around;
  }
  
  .article_tab_link {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    border-left: 1px solid #080707;
  }
  
  .article_tab .article_tab_link.active {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
    font-family: inherit !important;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 2px solid;
    text-align: start;
    padding: 10px;
    width: 90%;
  }
  
  .article_tab .article_tab_link {
    border-bottom: 2px solid;
    margin-top: 10px;
    text-align: start;
    padding: 10px;
    font-size: 18px;
    width: 90%;
  }
  
  .article_tab_link:hover {
    border-color: transparent !important;
    isolation: isolate;
    color: #fff;
  }
  
  .article_tab_link {
    color: #fff;
    /* font-family: serif !important; */
  }
  
  .article_tab_link:hover {
    color: #000;
    /* font-family: inherit !important; */
  }
  .article_nav{
    padding: 0px;
  }
  

  /* .dis-card{
    background-color: red;
    position: relative;
    padding: 30px;
  }
  .product-dis-card{
    background-color: #fff;
    border: 1px solid green;
    position: absolute;
    */
  


  .main-card-product-dis {
    position: relative;
    left: 0%;
    transform: translate(0%, 0%);
    height: auto;
    background-color: #ECFFFE;
    padding: 0px;
    margin-top: 0px;
  }
  
  .sub-card-product-dis {
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    
  }
  .sub-card-padding{
    margin-top: 25px;
  }
  .main-card-product-dis h4{
    overflow-wrap: anywhere;
  }
  .main-card-product-dis p{
    overflow-wrap: anywhere;
  }
  


  /* .dis-ellipse {
    text-overflow: initial;
  overflow: visible;
  display: -webkit-box;
  -webkit-line-clamp:initial;
  -webkit-box-orient: vertical;
  font-family: "Poppins", sans-serif;
  text-align:left;
 
  } */
  /* .article_card_container .card-title{
    font-size: 18px;
    height: 35px;
    text-align: left;
    align-items: start;
    justify-content: left;
    display: flex;
  }
  .dis-ellipse {
    text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: "Poppins", sans-serif;
  text-align: justify;
 
  }
  .dis-ellipse p{
    text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 17px;
  color: #778088;
  font-family: "Poppins", sans-serif;
  text-align: justify;
 
  }
  .dis-ellipse p span{
    text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 17px !important;
  color: #778088 !important;
  font-family: "Poppins", sans-serif;
  text-align: justify;
 
  }
   */
   .sub-card-product-dis h4{
    font-family: "Volkhov", serif;
    /* padding-bottom: 10px; */
  }
  .main-card-product-dis {
    position: relative;
    /* top: 50%; */
    /* left: 0%; */
    /* transform: translate(0%, 0%); */
    /* width: 300px; */
    height: auto;
    /* background-color: #ECFFFE; */
    background: linear-gradient(to bottom, #E6FCFF 60%, #fff 40%);
    padding: 20px 20px 0px 20px;
    margin-top: 0px;
  }
  
  .sub-card-product-dis {
    position: relative;
    /* top: calc(85% - 150px);
    left: calc(50% - 75px);  */
    width: 100%;
    /* height: 300px; */
    background-color: #FFFFFF;
    padding: 10px;
    /* overflow-y: auto; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    
  }

  .dis-ellipse p span{
    text-overflow: inherit !important;
  overflow: visible !important;
  display: -webkit-box;
  -webkit-line-clamp: initial !important;
  -webkit-box-orient: vertical;
  font-size: 17px !important;
  color: #778088 !important;
  font-family: "Poppins", sans-serif;
  text-align: left;
 
  }
  .card-padding{
    padding-top: 0px;
  }
  .article_card_container .card-title{
    font-size: 18px;
    height: 35px;
    text-align: left;
    align-items: start;
    justify-content: left;
    display: contents;
  }
  .dis-ellipse {
    text-overflow: initial;
  overflow: visible;
  display: -webkit-box;
  -webkit-line-clamp:initial;
  -webkit-box-orient: vertical;
  font-family: "Poppins", sans-serif;
  text-align:left;
 
  }
  .dis-ellipse p {
    text-overflow: initial;
    overflow: visible;
    display: -webkit-box;
    -webkit-line-clamp: initial;
    -webkit-box-orient: vertical;
    font-size: 14px;
    color: #778088;
    font-family: "Poppins", sans-serif;
    text-align: left;
}

/* Media query for mobile devices */
@media (max-width: 767px) {

  .main-product .card .card-title {
    color: #fff;
    font-size: 18px !important;
    font-weight: 500 !important;
    display: flex;
    justify-content: start;
    font-family: "Volkhov", serif;
    height: 93px;
}
  .main-card-product-dis {
    position: relative;
    /* top: 50%; */
    left: 0%;
    transform: translate(0%, 0%);
    /* width: 300px; */
    height: auto;
    background-color: #ECFFFE;
    padding: 20px 20px 0px 20px;
    margin-top: 0px;
  }
  
  .sub-card-product-dis {
    position: relative;
    /* top: calc(85% - 150px);
    left: calc(50% - 75px);  */
    width: 100%;
    /* height: 300px; */
    background-color: #FFFFFF;
    padding: 10px;
    /* overflow-y: auto; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    
  }

  .dis-ellipse p span{
    text-overflow: inherit !important;
  overflow: visible !important;
  display: -webkit-box;
  -webkit-line-clamp: initial !important;
  -webkit-box-orient: vertical;
  font-size: 17px !important;
  color: #778088 !important;
  font-family: "Poppins", sans-serif;
  text-align: left;
 
  }
  .card-padding{
    padding-top: 0px;
  }
  .article_card_container .card-title{
    font-size: 18px;
    height: 35px;
    text-align: left;
    align-items: start;
    justify-content: left;
    display: contents;
  }
  .dis-ellipse {
    text-overflow: initial;
  overflow: visible;
  display: -webkit-box;
  -webkit-line-clamp:initial;
  -webkit-box-orient: vertical;
  font-family: "Poppins", sans-serif;
  text-align:left;
 
  }
  .dis-ellipse p {
    text-overflow: initial;
    overflow: visible;
    display: -webkit-box;
    -webkit-line-clamp: initial;
    -webkit-box-orient: vertical;
    font-size: 14px;
    color: #778088;
    font-family: "Poppins", sans-serif;
    text-align: left;
}
  /* ================ */
  .article_nav {
      padding: 10px 0; /* Adjust padding as needed */
      overflow-x: auto; /* Enable horizontal scrolling */
  }

  .article_nav .nav-link.active  {
    padding: 10px; /* Adjust padding as needed */
    color: #fff !important;
    border-right: 1px solid #fff; /* Optional: Add border between tabs */
    border-radius: 0; /* Remove border radius */
    margin-right: 5px; /* Add spacing between tabs */
    white-space: nowrap; /* Prevent text from wrapping */
}

  .article_nav .nav-link {
      padding: 10px; /* Adjust padding as needed */
      color: #fff !important;
      border-right: 1px solid #fff; /* Optional: Add border between tabs */
      border-radius: 0; /* Remove border radius */
      margin-right: 5px; /* Add spacing between tabs */
      white-space: nowrap; /* Prevent text from wrapping */
  }
  .article_tab .article_tab_link.active {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
    font-family: inherit !important;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 2px solid;
    text-align: start;
    padding: 10px;
    width: 100% !important;
  }
  .article_tab .article_tab_link {
    border-bottom: none;
    margin-top: 10px;
    text-align: start;
    padding: 10px;
    font-size: 18px;
    width: 255% !important;
  }
  .article_tab {
      background: #6246E5;
      display: flex; /* Use flexbox for layout */
      justify-content: flex-start; /* Align tabs to the start */
      overflow-x: auto; /* Enable horizontal scrolling */
      padding: 10px 0; /* Adjust padding as needed */
      border-radius: 0px;
  }

  .nav-tabs {
      border-bottom: none; /* Remove border bottom from tabs */
      display: flex;
      flex-wrap: nowrap;
  }

  .article_tab_link {
      border-bottom: none;
      text-align: center; /* Center align text */
      font-size: 16px; /* Adjust font size as needed */
      white-space: nowrap; /* Prevent text from wrapping */
  }

  /* .main-card-product-dis {
      background-color: #ECFFFE;
      padding: 10px;
      margin-top: 20px; 
      transform: translate(-50%, -10%);
      height: 200px;

  }

  .sub-card-product-dis {
      background-color: #FFFFFF;
      padding: 10px;
      margin-top: 20px; 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  
  } */
  .card-body h5 {
      font-size: 14px !important;
      
  }

  .main-card-product-dis h4 {
      overflow-wrap: anywhere; /* Adjust text overflow */
      font-size: 18px;
  }

  .main-card-product-dis p {
      overflow-wrap: anywhere; /* Adjust text overflow */
  }

  .card-img-top {
      max-width: 100%; /* Ensure images don't overflow */
      height: auto; /* Maintain aspect ratio */
  }
  .product-name {
    padding-top: 20px !important;
    padding-bottom: 30px;
      color: #23569E;
      font-size: 29px !important;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .main-product .card .card-title {
    color: #fff;
    font-size: 18px !important;
    font-weight: 500;
    display: flex;
    justify-content: start;
    font-family: "Volkhov", serif;
    height: 93px;
}
.main-product .card .card-body {
  background-color: #23569E;
  /* margin: 0px 21px; */
  color: #fff !important;
  border-radius: 10px;
  box-shadow: 10px 10px 50px #00000012%;
}
.product-name {
  padding-top: 20px !important;
  padding-bottom: 30px;
    color: #23569E;
    font-size: 29px !important;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

@media (min-width: 1024px) and (max-width: 1190px) {
  .main-product .card .card-title {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: start;
    font-family: "Volkhov", serif;
    height: 93px;
}
.main-product .card .card-body {
  background-color: #23569E;
  /* margin: 0px 21px; */
  color: #fff !important;
  border-radius: 10px;
  box-shadow: 10px 10px 50px #00000012%;
}
}