.main-product {
    background-color: #fff;
}

.main-product .card {
    border: none;
}

.main-product .card .card-body {
    background-color: #ECFFFE;
    margin: 0px 42px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px #00000012%;
}

.main-product .card .card-title {
    color: #1C2B38;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.nav {
    background-color: #23569E !important;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 20px;
    border: none;
}

.nav .nav-link {
    color: #fff !important;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
}

.nav-pills .nav-link.active {
    color: #fff !important;
    font-weight: 700;
    background-color: transparent;
}

.our-product {
    padding: 30px 0px;
    background-color: #fff;
}

.product-name {
    color: #23569E;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-product h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-padding{
  padding-top: 40px;
}

/* =============== */
.article_card_container{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.article_card_container .card-body{
    background-color: #23569E;
    color: #fff;
    border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
#gallary_data .card{
    border: none !important;
}
.article_tab {
    /* position: relative; */
    border-radius: 0px 50px 0px;
    background: #6246E5;
    padding: 0.5rem;
    width: 100%;
    /* height: 2%; */
    box-sizing: border-box;
    justify-content: space-around;
  }
  
  .article_tab_link {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    border-left: 1px solid #080707;
  }
  
  .article_tab .article_tab_link.active {
    color: #ffffff;
    background-color: transparent;
    border-color: transparent;
    font-family: inherit !important;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 2px solid;
    text-align: start;
    padding: 10px;
    width: 90%;
  }
  
  .article_tab .article_tab_link {
    border-bottom: 2px solid;
    margin-top: 10px;
    text-align: start;
    padding: 10px;
    font-size: 18px;
    width: 90%;
  }
  
  .article_tab_link:hover {
    border-color: transparent !important;
    isolation: isolate;
    color: #fff;
  }
  
  .article_tab_link {
    color: #fff;
    /* font-family: serif !important; */
  }
  
  .article_tab_link:hover {
    color: #000;
    /* font-family: inherit !important; */
  }
  .article_nav{
    padding: 0px;
  }
  

  /* .dis-card{
    background-color: red;
    position: relative;
    padding: 30px;
  }
  .product-dis-card{
    background-color: #fff;
    border: 1px solid green;
    position: absolute;
    */
  


  .main-card-product-dis {
    position: relative;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 300px; */
    height: 120px;
    background-color: #ECFFFE;
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
  }
  
  .sub-card-product-dis {
    position: absolute;
    /* top: calc(85% - 150px);
    left: calc(50% - 75px);  */
    width: 95%;
    /* height: 300px; */
    background-color: #FFFFFF;
    padding: 10px;
    /* overflow-y: auto; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    
  }
  .main-card-product-dis h4{
    overflow-wrap: anywhere;
  }
  .main-card-product-dis p{
    overflow-wrap: anywhere;
  }
  .article_card_container .card-title{
    font-size: 18px;
    height: 75px;
    text-align: left;
    align-items: start;
    justify-content: left;
    display: flex;
  }
  .dis-ellipse p{
    text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 17px;
  color: #778088;
  font-family: "Poppins", sans-serif;
  text-align: justify;
 
  }
  .dis-ellipse p span{
    text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 17px;
  color: #778088;
  font-family: "Poppins", sans-serif;
  text-align: justify;
 
  }
  .sub-card-product-dis h4{
    font-family: "Volkhov", serif;
    padding-bottom: 10px;
  }
  
 
  /* Media query for mobile devices */
@media (max-width: 767px) {
    .article_nav{
        padding: 2px;
      }
      .article_tab {
        /* position: relative; */
        border-radius: 0px;
        background: #6246E5;
        padding: 0.5rem;
        width: 100%;
        /* height: 2%; */
        box-sizing: border-box;
        justify-content: space-around;
      }

      .nav .nav-link {
        color: #fff !important;
        border-right: 1px solid #fff;
        border-radius: 0px;
    }
     
  .article_tab .article_tab_link {
    border-bottom:none;
    margin-top: 10px;
    text-align: start;
    padding: 10px;
    font-size: 18px;
    width: 90%;
  }
      
    .article_nav .nav-tabs {
        flex-wrap: nowrap; /* Prevent tabs from wrapping */
        overflow-x: auto; /* Enable horizontal scrolling */
        -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
    }

    .article_nav .nav-link {
        white-space: nowrap; /* Prevent text from wrapping */
    }
    .card-body h5 {
        font-size: 15px;
    }
    .main-card-product-dis h4{
      overflow-wrap: anywhere;
    }
    .main-card-product-dis p{
      overflow-wrap: anywhere;
    }
    .main-card-product-dis {
      position: relative;
      /* top: 50%; */
      /* left: 50%; */
      left: 50%;
      transform: translate(-50%, 0%);
      height: 100%;
      background-color: #ECFFFE;
      padding: 10px;
  }
  .sub-card-product-dis {
    position: relative !important;
    width: 100%;
    /* height: 300px; */
    background-color: #FFFFFF;
    padding: 10px;
    /* overflow-y: auto; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
}

