.main-product {
    background-color: #fff;
}

.main-product .card {
    border: none;
}

.main-product .card .card-body {
    background-color: #ECFFFE;
    margin: 0px 42px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px #00000012%;
}

.main-product .card .card-title {
    color: #1C2B38;
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.nav {
    background-color: #23569E !important;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 20px;
    border: none;
}

.nav .nav-link {
    color: #fff !important;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
}

.nav-pills .nav-link.active {
    color: #fff !important;
    font-weight: 700;
    background-color: transparent;
}

.our-product {
    padding: 30px 0px;
    background-color: #fff;
}

.product-name {
    color: #23569E;
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-product h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
